
.u-container-layout-1 {
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 10px 10px;
}

.u-text-2 {
    font-weight: 600;
    font-size: 1.875rem;
    margin: 10px 10px 10px 10px;
}

.u-metadata-1 {
    font-size: 0.875rem;
    margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
    .u-metadata-1 {
        width: auto;
    }

    .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-text-2 {
        width: auto;
    }

    .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 11px));
        min-height: 503px;
    }
}

@media (max-width: 991px) {
    .u-repeater-1 {
        grid-auto-columns: calc(100% - 0px);
        grid-template-columns: 100%;
        grid-auto-rows: calc(25% - 16.5px);
    }
}

@media (max-width: 767px) {
    .u-repeater-1 {
        grid-auto-columns: 100%;
    }
}