.u-text-1 {
    font-weight: 600;
    font-size: 4rem;
    margin: 282px -80px 0;
}

@media (max-width: 1199px) {
    .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-text-1 {
      font-size: 3.75rem;
    }
}

@media (max-width: 575px) {
    .u-text-1 {
      font-size: 3rem;
    }
}