/*Start Developer area*/
.about-us {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    justify-items: center;
    margin: 10px;
    width: 100%;
    height: auto;
  }
.about-us img{
    text-align: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: auto;
}
  .developer-card{
    color: black;
    font-size: large;
    padding: 5px;
    margin: 10px;
    display: block;
  }
  
  .developer-name{
      font-weight: bold;
      font-size: 3rem;
      text-align: center;
  }

  .developer-description{
      text-align: center;
      font-size: 1.5rem;
  }

  .about-us .title{
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
      grid-area: 1 / 1/ 1/ 3;
  }

.developer-card img{
    display: block;
    margin: 0 auto;
}